
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to bottom, #ffe0f0, #ffd6e0);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 20px;
}

/* CONTENITORE */
#profilo-container {
    max-width: 800px;
    margin: 0 auto;
}

.container-profilo {
    background: #fff0f5;
    width: 100%;
    max-width: 800px;
    padding: 35px;
    border-radius: 16px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

.container-profilo h1 {
    text-align: center;
    color: #159649;
    margin-bottom: 30px;
    font-size: 2em;
}

/* INFO PERSONALI  */
.info-personali {
    background: #ffe0e9;
    padding: 20px 25px;
    border-radius: 12px;
    margin-bottom: 25px;
}

.info-personali p {
    margin-bottom: 10px;
    font-size: 1rem;
}

.info-personali p strong {
    color: #159649;
    font-weight: bold;
}

.info-personali p span {
    color: #000;
    font-weight: normal;
}

.note-personali label::before {
    content: "";
    display: inline-block;
    width: 7px;       
    height: 3px;
    background-color: #000;
    margin-right: 6px;
    vertical-align: middle;
    border-radius: 2px;
}

/*  AZIONI  */
.azioni {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

/* PULSANTI*/
.btn {
    text-decoration: none;
    padding: 12px 22px;
    background: #159649;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #13a34a;
}

.btn-logout {
    text-decoration: none;
    padding: 12px 22px;
    background: #ef4444;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 1rem; 
    line-height: 1.2; 
}

.btn, .btn-logout {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 600;
}

.btn-logout:hover {
    background: #b91c1c;
}

/* NOTE PERSONALI */
.note-personali {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.note-personali textarea {
    width: 100%;
    resize: vertical;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.note-personali button {
    align-self: flex-start; 
    background: #159649;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.note-personali button:hover {
    background: #12733d;
}


