body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #f0f8ff, #87cefa);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    background-color:#235085;
    color: #fff;
    padding: 30px 20px;
    align-items: center;      /* centra verticalmente immagine e testo */
    justify-content: center;  /* centra tutto l'insieme orizzontalmente */
    gap: 20px;                /* spazio tra immagine e testo */
    text-align: center;
    height: 150px;
}

header h1 {
    font-size: 2.4em;
    margin-bottom: 8px;
}

header p {
    color:#ffffffde;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #183a60;
    padding: 12px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 14px;
    font-weight: bold;
    font-size: 1em;
}

nav a:hover {
    color: rgb(38, 204, 255);
}

.navquiz {
    display: flex;
    justify-content: center;
    align-items: center; /* allinea verticalmente link e dropdown */
    background-color: #183a60;
    padding: 10px 0;
    flex-wrap: wrap; /* utile su mobile */
}

.navquiz a, .dropbtn {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
    background: none; /* rimuove sfondo bottone */
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.navquiz a:hover, .dropbtn:hover {
    color: rgb(38, 204, 255);
}




 .intro {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 8px;
    
}

.quiz-section ol li {
    margin-bottom: 20px; /* distanza tra ogni elemento della lista */
}

.quiz-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.quiz-section {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
}

.quiz-section h2 {
    color: #0055aa;
}

.quiz-section p {
    margin: 10px 0;
}

/* Drag & Drop */
.drag-drop-container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.drag-item {
    padding: 8px 12px;
    background-color: #0055aa;
    color: white;
    border-radius: 5px;
    cursor: grab;
}

.drop-zone-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.drop-zone {
    padding: 15px;
    min-width: 180px;
    min-height: 50px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    text-align: center;
}
.drop-zone.over {
    border-color: #0055aa;
    background-color: #e0f0ff;
}
