body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(180deg, #fff3cd, #07ff72);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: block;
}

/* HEADER */
header {
    position: relative; 
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;                 
    background-color: #183a60;     
    color: #fff;
    display: flex;
    flex-direction: column;      
    align-items: center;
    justify-content: center;
    font-size: 0.9em;         
    font-weight: 500;
    border-bottom: 1px solid rgba(255,255,255,0.2); 
    z-index: 1000;
}

header h1 {
    font-size: 2.4em;  
    margin: 0;          
}

header p {
    margin-top: 5px 0 0 0; 
    color: #ffffffde;
    text-align: center;
}

/* NAVBAR */
nav {
    position: sticky;               
    top: 0;
    width: 100%;
    background-color: #183a60;       
    display: flex;
    justify-content: center; /* centra i link */
    align-items: center;
    padding: 10px 0;            
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); 
    z-index: 1001;                
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;    
    font-weight: 600; 
    font-size: 1.3em; 
    padding: 6px 12px; 
    border-radius: 4px;
}

nav a:hover {
    color: rgb(38, 204, 255);
}

/* LAYOUT QUIZ */
.content-box, #quizForm {
    background: white;
    padding: 25px;
    border-radius: 14px;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 8px 20px rgba(0,0,0,.15);
    box-sizing: border-box;
}

#quizForm {
    border: 2px solid #25d796; 
    padding: 25px 5px 25px 5px; 
    max-width: 1000px;  
}

.quiz-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* NOTE CENTRATE */
.note-centrata {
    display: inline-block;
    margin: 20px 0;
    text-align: left;
    font-weight: bold;
    color: #075736;
    position: relative;
    padding: 2px 6px;
    margin-left: 300px; 
}

.note-centrata::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;   
    width: 100%;
    height: calc(100% - 4px); 
    background-color: #25d796;
    opacity: 0.3;
    z-index: -1;
    border-radius: 4px;
}

/* QUIZ */
.quiz-section {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 90%;  
    max-width: 900px; 
    padding: 15px;
    margin: 0 auto 30px; 
    background-color: #f9f9f9;
}

.quiz-section h2 {
    color: #02452c;
    font-weight: 800;
}

.quiz-section p {
    margin: 10px 0;
}

.quiz-section p:first-child {
    font-weight: bold;
    color: #02452c;
}

.quiz-section ol li {
    margin-bottom: 20px; 
}

h3 {
    color: #02452c;;
}

/* FORM E INPUT */
.big-input {
    padding: 12px 16px;   
    font-size: 1.1em;     
}

/* DRAG & DROP */
.drag-drop-container, .drop-zone-container {
    display: flex;
    gap: 10px;
}

.drop-zone-container {
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.drag-item {
    padding: 8px 12px;
    background-color: #25d796;
    color: #ffffff;
    border: 4px double #0a8f60; 
    border-radius: 5px;
    cursor: grab;
}

.drop-zone {
    padding: 15px;
    min-width: 180px;
    min-height: 50px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    text-align: center;
}

.drop-zone.over {
    border-color: #0055aa;
    background-color: #e0f0ff;
}

/* PULSANTI */
button, .btnanonimo {
    font-family: Verdana, Geneva, sans-serif;
    letter-spacing: 0.5px;
    padding: 12px 25px;
    background-color: #183a60;
    color: #fff;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.12);
    margin: 0 8px;
}

button:hover, .btnanonimo:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0,0,0,0.15);
}

.buttons {
    display: flex;
    justify-content: center;
    height: 40px;
    gap: 20px;
}

/*  RISULTATI */
.risultato {
    background-color: #f9f9f9;
    padding: 10px;      
    border-radius: 5px; 
    margin-top: 20px;    
}

.risultato p {
    color: #12b878;
    font-weight: 500;
    font-size: 1.1em;    
}

/*  FOTO QUIZ OUTPUT */
.output-img-large {
    width: 700px;      
    height: 700px;     
    margin-bottom: 10px;
}

/*  FOOTER */
.main-footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 22px;
    font-size: 0.9em;
}

.main-footer p {
    margin: 5px 0;
}
